ProEstimator.Business/Service References/PEService/ImportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proestimatorservice.web-est.com/ImportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proestimatorservice.web-est.com/ImportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proestimatorservice.web-est.com/ImportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProEstimator.Business.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportService_AddImportToQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImportToQueue" />
  </wsdl:message>
  <wsdl:message name="IImportService_AddImportToQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImportToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_GetQueueSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueSize" />
  </wsdl:message>
  <wsdl:message name="IImportService_GetQueueSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_QueryQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryQueue" />
  </wsdl:message>
  <wsdl:message name="IImportService_QueryQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_GetQueueProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueProgress" />
  </wsdl:message>
  <wsdl:message name="IImportService_GetQueueProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportService">
    <wsdl:operation name="AddImportToQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/AddImportToQueue" message="tns:IImportService_AddImportToQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/AddImportToQueueResponse" message="tns:IImportService_AddImportToQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/GetQueueSize" message="tns:IImportService_GetQueueSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/GetQueueSizeResponse" message="tns:IImportService_GetQueueSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/QueryQueue" message="tns:IImportService_QueryQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/QueryQueueResponse" message="tns:IImportService_QueryQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/GetQueueProgress" message="tns:IImportService_GetQueueProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/GetQueueProgressResponse" message="tns:IImportService_GetQueueProgress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportService" type="tns:IImportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddImportToQueue">
      <soap:operation soapAction="http://tempuri.org/IImportService/AddImportToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueSize">
      <soap:operation soapAction="http://tempuri.org/IImportService/GetQueueSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryQueue">
      <soap:operation soapAction="http://tempuri.org/IImportService/QueryQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueProgress">
      <soap:operation soapAction="http://tempuri.org/IImportService/GetQueueProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportService">
    <wsdl:port name="BasicHttpBinding_IImportService" binding="tns:BasicHttpBinding_IImportService">
      <soap:address location="http://proestimatorservice.web-est.com/ImportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>