ProEstimator.Business/Service References/LkqService/Quotes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LKQQuoteUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LKQQuoteUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineItem" nillable="true" type="tns:ArrayOfLineItem" />
  <xs:complexType name="LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternatePartNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlternatePartType" type="tns:LKQPart.CiecaPartCode" />
      <xs:element minOccurs="0" name="EstimateLineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterchangeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IscCost" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IscDays" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IscList" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NeedByDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OEPartNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OEPartType" type="tns:LKQPart.CiecaPartCode" />
      <xs:element minOccurs="0" name="PartDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ROListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItem" nillable="true" type="tns:LineItem" />
  <xs:simpleType name="LKQPart.CiecaPartCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Aftermarket" />
      <xs:enumeration value="Remanufactured" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Recycle" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LKQPart.CiecaPartCode" nillable="true" type="tns:LKQPart.CiecaPartCode" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Engine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionMapCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaintStage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaintTone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrimColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
</xs:schema>