ProEstimator.Business/Service References/LkqService/Quotes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Keyless3.Core.Entities.Details" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keyless3.Core.Entities.Details" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShipToAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipToAddress" nillable="true" type="tns:ShipToAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipToAddress" nillable="true" type="tns:ArrayOfShipToAddress" />
  <xs:complexType name="ShipToAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToWarehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvince" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipToAddress" nillable="true" type="tns:ShipToAddress" />
</xs:schema>