ProEstimator.Business/Service References/LkqService/Quotes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Quotes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IQuotes_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LKQIntegrationService.Core.Entities" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LKQIntegrationService.Core.Quotes.Business" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LKQQuoteUtility" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LKQIntegrationService.Core.Requests" />
      <xsd:import schemaLocation="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Keyless3.Core.Entities.Details" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuotes_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IQuotes_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_GetQuoteByVin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteByVin" />
  </wsdl:message>
  <wsdl:message name="IQuotes_GetQuoteByVin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteByVinResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_ProcessOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotes_ProcessOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_RegisterRepairFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRepairFacility" />
  </wsdl:message>
  <wsdl:message name="IQuotes_RegisterRepairFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRepairFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_UnRegisterRepairFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterRepairFacility" />
  </wsdl:message>
  <wsdl:message name="IQuotes_UnRegisterRepairFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterRepairFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_UpdateInsurancePreferredLineItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsurancePreferredLineItems" />
  </wsdl:message>
  <wsdl:message name="IQuotes_UpdateInsurancePreferredLineItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsurancePreferredLineItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_GetCustomerShipToAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerShipToAddresses" />
  </wsdl:message>
  <wsdl:message name="IQuotes_GetCustomerShipToAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerShipToAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuotes">
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/GetQuote" message="tns:IQuotes_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/GetQuoteResponse" message="tns:IQuotes_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteByVin">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/GetQuoteByVin" message="tns:IQuotes_GetQuoteByVin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/GetQuoteByVinResponse" message="tns:IQuotes_GetQuoteByVin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/ProcessOrder" message="tns:IQuotes_ProcessOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/ProcessOrderResponse" message="tns:IQuotes_ProcessOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterRepairFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/RegisterRepairFacility" message="tns:IQuotes_RegisterRepairFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/RegisterRepairFacilityResponse" message="tns:IQuotes_RegisterRepairFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterRepairFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/UnRegisterRepairFacility" message="tns:IQuotes_UnRegisterRepairFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/UnRegisterRepairFacilityResponse" message="tns:IQuotes_UnRegisterRepairFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurancePreferredLineItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/UpdateInsurancePreferredLineItems" message="tns:IQuotes_UpdateInsurancePreferredLineItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/UpdateInsurancePreferredLineItemsResponse" message="tns:IQuotes_UpdateInsurancePreferredLineItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerShipToAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotes/GetCustomerShipToAddresses" message="tns:IQuotes_GetCustomerShipToAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotes/GetCustomerShipToAddressesResponse" message="tns:IQuotes_GetCustomerShipToAddresses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuotes" type="tns:IQuotes">
    <wsp:PolicyReference URI="#BasicHttpBinding_IQuotes_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IQuotes/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteByVin">
      <soap:operation soapAction="http://tempuri.org/IQuotes/GetQuoteByVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessOrder">
      <soap:operation soapAction="http://tempuri.org/IQuotes/ProcessOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRepairFacility">
      <soap:operation soapAction="http://tempuri.org/IQuotes/RegisterRepairFacility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterRepairFacility">
      <soap:operation soapAction="http://tempuri.org/IQuotes/UnRegisterRepairFacility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurancePreferredLineItems">
      <soap:operation soapAction="http://tempuri.org/IQuotes/UpdateInsurancePreferredLineItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerShipToAddresses">
      <soap:operation soapAction="http://tempuri.org/IQuotes/GetCustomerShipToAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Quotes">
    <wsdl:port name="BasicHttpBinding_IQuotes" binding="tns:BasicHttpBinding_IQuotes">
      <soap:address location="https://lkqintegrationcteqc.ekeyconnect.com/Quotes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>